examples/generic/customer-onboarding/workflow.json
{
  "name": "Customer Onboarding Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "customer-onboarding",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "customer-onboarding-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-1",
              "name": "email_to",
              "value": "={{ $json.body.customer_email }}",
              "type": "string"
            },
            {
              "id": "email-2",
              "name": "email_subject",
              "value": "=Welcome to our platform, {{ $json.body.customer_name }}!",
              "type": "string"
            },
            {
              "id": "email-3",
              "name": "email_body",
              "value": "=Hi {{ $json.body.customer_name }}, welcome aboard! We're thrilled to have {{ $json.body.company_name }} on the {{ $json.body.plan_type }} plan. Our team will reach out shortly to help you get started.",
              "type": "string"
            },
            {
              "id": "email-4",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "email-5",
              "name": "customer_name",
              "value": "={{ $json.body.customer_name }}",
              "type": "string"
            },
            {
              "id": "email-6",
              "name": "customer_email",
              "value": "={{ $json.body.customer_email }}",
              "type": "string"
            },
            {
              "id": "email-7",
              "name": "plan_type",
              "value": "={{ $json.body.plan_type }}",
              "type": "string"
            },
            {
              "id": "email-8",
              "name": "company_name",
              "value": "={{ $json.body.company_name }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000002",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "task-1",
              "name": "task_title",
              "value": "=Onboarding: {{ $json.customer_name }} ({{ $json.company_name }})",
              "type": "string"
            },
            {
              "id": "task-2",
              "name": "task_assignee",
              "value": "customer-success-team",
              "type": "string"
            },
            {
              "id": "task-3",
              "name": "task_due_date",
              "value": "={{ $now.plus({days: 7}).toISO() }}",
              "type": "string"
            },
            {
              "id": "task-4",
              "name": "task_description",
              "value": "=Complete onboarding for {{ $json.customer_name }} ({{ $json.customer_email }}) at {{ $json.company_name }}. Plan: {{ $json.plan_type }}.",
              "type": "string"
            },
            {
              "id": "task-5",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "task-6",
              "name": "customer_email",
              "value": "={{ $json.customer_email }}",
              "type": "string"
            },
            {
              "id": "task-7",
              "name": "plan_type",
              "value": "={{ $json.plan_type }}",
              "type": "string"
            },
            {
              "id": "task-8",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000003",
      "name": "Create Onboarding Task",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reminder-1",
              "name": "reminder_date",
              "value": "={{ $now.plus({days: 14}).toISO() }}",
              "type": "string"
            },
            {
              "id": "reminder-2",
              "name": "reminder_type",
              "value": "check-in",
              "type": "string"
            },
            {
              "id": "reminder-3",
              "name": "reminder_for",
              "value": "={{ $json.customer_name }} ({{ $json.company_name }})",
              "type": "string"
            },
            {
              "id": "reminder-4",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "reminder-5",
              "name": "customer_email",
              "value": "={{ $json.customer_email }}",
              "type": "string"
            },
            {
              "id": "reminder-6",
              "name": "plan_type",
              "value": "={{ $json.plan_type }}",
              "type": "string"
            },
            {
              "id": "reminder-7",
              "name": "company_name",
              "value": "={{ $json.company_name }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000004",
      "name": "Schedule Check-In Reminder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-enterprise",
              "leftValue": "={{ $json.plan_type }}",
              "rightValue": "enterprise",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000005",
      "name": "Is Enterprise?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack-1",
              "name": "slack_channel",
              "value": "#account-management",
              "type": "string"
            },
            {
              "id": "slack-2",
              "name": "slack_message",
              "value": "=New enterprise customer signed up! {{ $json.customer_name }} from {{ $json.company_name }} ({{ $json.customer_email }}). Plan: {{ $json.plan_type }}. Please reach out to schedule a kickoff call.",
              "type": "string"
            },
            {
              "id": "slack-3",
              "name": "status",
              "value": "notified",
              "type": "string"
            }
          ]
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000006",
      "name": "Notify Account Team",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "complete-1",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "complete-2",
              "name": "message",
              "value": "=Onboarding pipeline complete for {{ $json.customer_name }}. No enterprise notification required.",
              "type": "string"
            }
          ]
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000007",
      "name": "Complete Without Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Create Onboarding Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Onboarding Task": {
      "main": [
        [
          {
            "node": "Schedule Check-In Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Check-In Reminder": {
      "main": [
        [
          {
            "node": "Is Enterprise?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Enterprise?": {
      "main": [
        [
          {
            "node": "Notify Account Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Without Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
